/* lato font */
body{
    font-family: 'Lato', sans-serif;
     /* width: 1920px; */
}

/* First slot ot webpage(these code are use for header tag) */

.first-slot{
    /* width: 1920px; */
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    margin: 0px;
 
}
.tcfs-header{
    
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    height: 288px;
    margin-bottom: 0px;
}
.tcfs-para{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 32px;
margin-bottom: 32px;
}
.btn1{
    display: inline-flex;
   padding: 20px 43px;
   align-items: flex-start;
   gap: 10px;
   border-radius: 8px;
   background: #E55473;
   border: solid #E55473;
   color: #FFF;
   font-size: 20px;
   font-weight: 700;

}

.img-container-fs{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
    margin-left: 0px;
    margin-bottom: 0px;
}
 .first-slot{
    display: flex;
    justify-content: space-around;
 }
 .text-container-fs{
    margin-left: 240px;
    margin-top: 197px;
    margin-right: 97px;
    margin-bottom: 147px;
 }
 .header{
    margin-bottom: 0px;
 }



 /* next all code will be use in the feature of flower and service info(section 1 content) */


 .section1{
    margin-top: 178px;
    
    
 }

 .fof-header{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
color: #272727;
/* justify-content: center; */
margin-bottom: 24px;

 }
 .fof-para{
    color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   margin-top: 0px;
   margin-bottom: 0px;
 }

 .first-bg-img{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    margin-right: 24px;
    margin-bottom: 0px;
 }
 .second-bg-img{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    margin-right: 24px;
    margin-bottom: 0px;
 }
 .third-bg-img{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color:rgba(71, 125, 17, 0.15);
    margin-right: 24px;
    margin-bottom: 0px;
    
 }
 .fof-bg-pic{
    display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;

 }

 .first-img{
    margin-left: 76px;
    margin-right: 78px;
    margin-top: 110px;
    margin-bottom: 0px;
 }
 .second-img{
    margin-left: 47px;
    margin-right: 47px;
    margin-top: 117px;
    margin-bottom: 51px;
 }
 .third-img{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 67px;
    margin-bottom: 0px;
 }
 .u-para{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
    
 }

 /* these all will be the section 2 content */
 .section2{
    background-color: white;
    height: 320px ;
    /* width: 1920px; */
    margin: 0px;
 }

 .service-info{
    
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin-top: 128px;
    margin-left: 240px;
    margin-right: 240px;
    width: 1440px;
    height: 320px;
    background-position: center;
    justify-content: center;
   
    
 }

.img-text-img{
    display: flex;
    justify-content: space-around;
    margin-top: 86px;
    /* margin-bottom: 146px; */

    
    
}
.margin1{
    margin-top: 86px;
    margin-bottom: 0px;
    width: 88px;
height: 88px;
}
.margin2{
    margin-top: 86px;
    margin-bottom: 0px;
    width: 88px;
    height: 88px;
}
.margin3{
    margin-top: 86px;
    margin-bottom: 0px;width: 88px;
    height: 88px;



} 
.img-text-text{
     display: flex;
     justify-content:space-around;
     padding-right: 5px; 
     
}

.prblm1{
    margin-right: 3px;
}
 
/* sales offer part */

.section3{
    margin-top: 128px;
}

.sales-offer-img{
    display: flex;
    justify-content: space-around;
    /* width: 1922px; */
    height: 620px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);

}
.discount-tag{
    color: #272727;
font-size: 40px;
font-weight: 800;
margin-left:423px ;
margin-right:215px ;
margin-top: 230px;
margin-bottom:24px ;
width: 537px;
}
.off{
    color: #E55473;
font-size: 40px;
font-weight: 800;
}

.discount-para{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
  margin-top:24px ;
  margin-bottom:32px ;
  margin-right:186px ;
  margin-left:395px ;

}
.sign-btn{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background-color:  #E55473;
    margin-top:32px ;
    margin-bottom:162px ;
    margin-right:417px ;
    margin-left:603px ;
    border: solid #E55473;
}
.discount-img{
    width: 318px;
height: 420px;
margin-top:100px ;
    margin-bottom:100px ;
    margin-right:429px ;
    margin-left:186px ;

}

/* instagram part */
.insta-header{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top:128px ;
    margin-right:870px ;
    margin-left:870px ;
}
.insta-para{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom:48px ;
margin-right:663px ;
margin-left:663px ;
width: 594px;
height: 60px;
}
.insta-img{
   display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
}
.ins-img1{
     margin-right: 24px;
}
.ins-img2{
    margin-right: 24px;

}
.ins-img3{
    margin-right: 24px;
}



.bg-deal{
    width: 1440px; 
height: 449px;
background-image: url(last.png);
background-position: center;
margin-top: 128px;
margin-bottom: 128px;
margin-left: 240px;
margin-right: 240px;
align-items: center;
}

.bg-header{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-left: 533px;
margin-right: 534px;
margin-top: 122px;
width: 400; 
height: 48px;
padding-top: 80px;
}

.bg-para{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-left: 604px;
margin-right: 605px;
margin-bottom: 48px;
}
.text{
   
}
.bg-inpt{
    width: 700px;
height: 64px;
border-radius: 8px;
background-color: #FFF;
margin-left: 287px;
margin-bottom: 121px;
margin-right: 16;
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
border: solid #FFF;
}
.bg-btn{
    width: 150px;
    height: 64px;
    border-radius: 8px;
background-color: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
border: solid #E55473;
margin-left: 16px;
}



.footer{
    /* width: 1922px; */
height: 449px;
background-color: #111010;
}

.footer-head{
    color: #FFF;
font-size: 48px;
font-weight: 800;
text-align: center;
padding-top: 128px;
}
.flower-color{
    color: #E55473;
font-size: 48px;
font-weight: 800;
}
.footer-para{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 625px;
height: 60px;
padding-left: 648px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}